<% if errors.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(errors.errors.count, "error") %> prohibited this mark from being saved:</h2>
 
    <ul>
    <% errors.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
