<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>
 
<% if can? :read, Role %>
	<p><%= f.label :role %></p>
	  <%= f.collection_check_boxes(:role_ids, Role.all, :id, :name) do |b|  %>
		 <%= b.label { b.check_box +  b.text} %><br/>
	  <% end %>

	</ul>

<% end %>
