<h1>Users</h1>
<!-- table header stuff here -->
<table cellpadding='5'>
  <tr>
    <th>Email</th>
    <th>Roles</th>
    <th>Login count</th>
    <th>Last Login</th>
    <th>Last Login IP</th>
    <% if can?(:edit, User) %>
      <th>Edit</th>
    <% end %>
    <% if can?(:delete, User) %>
      <th>Delete</th>
    <% end %>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <tr class="<%= cycle('list-line-odd', 'list-line-even')-%>">
	<td><%=h u.email %></td>
	<td>
	  <% u.roles.each do |r| %>  
	    <%= r.name %>
	  <% end %>
	</td>
	<td><%=h u.sign_in_count %></td>
	<% if u.current_sign_in_at.nil? %>
	  <td>Never</td>
	<% else  %>
	  <td><%=h time_ago_in_words(u.current_sign_in_at.localtime) %> ago</td>
	<% end %>
	<td><%=h u.current_sign_in_ip %></td>
	<% if can?(:edit, User) %>
	  <td><%= link_to 'Edit', edit_user_path(u.id) %></td>
	<% end %>
	<% if can?(:delete, User) %>
	  <td><%= link_to 'Delete', u, :confirm => "Are you sure?", :method => :delete %></td>
	<% end %>
      </tr>
  <% end %>
</table>
<br/>
<% if current_user.role? :admin %>
  <span id="admin-links">
	<%= link_to 'Add', new_user_path %>
  </span>
<% end %>


