<h3>Create  User</h3>

<%= form_for(@user, :html => { :method => :post }) do |f| %>
  <%= render :partial => 'errors', :object => @user %>
  <%= render :partial => 'user_fields', :locals => { :f => f } %>
 
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
 
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
 
  <p><%= f.submit "Register" %></p>
<% end %>
