<h1>Users</h1>
<% if can?(:update, @user) %>
  <%= link_to "Edit", edit_user_path(@user) %> |
<% end %>
<% if can?(:delete, @user) %>
  <%= link_to "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete %>
<% end %>

<table class="one-column-emphasis">
  <tbody>
    <tr>
      <td class="oce-first">Email:</td>
      <td colspan='2'><%= @user.email %></td>
    </tr>
    <tr>
      <td class="oce-first">Roles:</td>
      <td  colspan='2'>
	<%= @user.roles.collect{|u| u.name}.join(", ") %>
      </td>
    </tr>
    <tr>
      <td class="oce-first">Created at:</td>
      <td colspan='2'><%= @user.created_at.localtime %></td>
    </tr>
    <tr>
      <td class="oce-first">Login Count:</td>
      <td colspan='2'><%= @user.sign_in_count %></td>
    </tr>
    <tr>
      <td class="oce-first">Last Login:</td>
      <% if @user.current_sign_in_at.nil? %>
	<td colspan='2'>Never</td>
      <% else  %>
	<td colspan='2'><%= @user.current_sign_in_at.localtime %></td>
      <% end %>
    </tr>
    <tr>
      <td class="oce-first">Last Login IP:</td>
      <td colspan='2'><%= @user.current_sign_in_ip %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', users_path %>
