<div>
  <span id="user-signon">
    Welcome, <%= current_user.email %><br />
    <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %>
  </span>
  <% if current_user.role? :admin %>
	<span id="admin-links">
	  <%= link_to "Manage users", url_for(:controller => :users, :action => :index) %>
	</span>
  <% end %>
</div>
